# OVERVIEW


__In this notebook, we demonstrate the idea of building ETL pipeline:__<br> 
+ extract various formats of data(i.e: json, csv) from multiple sources (i.e: local computer, websites)
+ perform some transformation on the data
+ load the data to the database

__There are five parts in this project:__<br>
+ [CREATE CONFIG FILE](#CREATE-CONFIG-FILE)


+ [CONSTRUCT EXTRACT CLASS](#CONSTRUCT-EXTRACT-CLASS)


+ [CONSTRUCT DATABASE CLASS](#CONSTRUCT-DATABASE-CLASS)


+ [CONSTRUCT TRANSFORMATION AND LOAD CLASS](#CONSTRUCT-TRANSFORMATION-AND-LOAD-CLASS)


+ [HOW EVERYTHING WORKS TOGETHER](#HOW-EVERYTHING-WORKS-TOGETHER)


__Scripts are written in the following manner:__
+ Configurability:<br>
The idea of it is to create a JSON file keeping track of all properties of data sources instead of hardcoding them in code every time we use it.  Whenever we need to make any changes to e.g: API key or database user, we could do it with ease by just updating the config file


+ Modularity:<br>
We took into account the idea of OOP by creating distinct classes handling different tasks. By assigning the specific role for each class, we could have a clear structure in mind and could understand how these classes interact with each other when we handle some business requirements.


+ Scalability:<br>
Our codes are built in such a way that is able to handle new requirements (i.e: new logic, new features) without changing much in the original code

In [15]:
# Import libraries
import requests
import pandas as pd
import numpy as np
import json
import sqlite3
import psycopg2
from psycopg2 import Error

## CREATE CONFIG FILE

In [16]:
config= {
    "data_sources": {
        "csv": {
            "Covid Cases": "CovidDeaths.csv"
               },
        "api": {
            "Pollution": "https://api.openaq.org/v1/latest?country=FI&limit=500",
               },
        "PostgreSQL_cred":{
            "user": "postgres",
            "password": "*************", 
            "host": "localhost",
            "port": "5432",
            "db_name": "PortfolioProject"
                          }
                     }
         }

In [9]:
# Let's write a data config file
with open('data_config.json','w') as outfile:
    json.dump(config,outfile,indent=4)

In [86]:
# Let's check whether it works
json.load(open('data_config.json'))

{'data_sources': {'csv': {'CovidDeaths': 'CovidDeaths.csv'},
  'api': {'Pollution': 'https://api.openaq.org/v1/latest?country=FI&limit=500'},
  'PostgreSQL_cred': {'user': 'postgres',
   'password': '*************',
   'host': 'localhost',
   'port': '5432',
   'db_name': 'PortfolioProject'}}}

## CONSTRUCT EXTRACT CLASS

We created a class which is loosely-coupled with generic methods hanlding only the extraction task so that for any future projects, we could make use of the script to extract data from multiple sources

In [7]:
import pandas as pd
import requests
import json

class Extract:
    """
    The class incorporates several methods used to fetch data having various formats
    from multiple sources (e.g: csv, json, etc)
    """
    
    def __init__(self):
        """
        Constructor creates an Extract object and assigns values to instance 
        variables (i.e: self.data_sources, self.api, self.csv_path)
        """
        # Load and assign the config file  to use it across different class methods
        self.data_sources=json.load(open('data_config.json'))
        
        # Assign the value of key 'api' and key 'csv' to instance variables
        self.api= self.data_sources['data_sources']['api']
        self.csv_path= self.data_sources['data_sources']['csv']
        
    def getAPIsdata(self,dataset):
        """
        Function is used to fetch the json format data from sources using api provided
        Function requires one argument which is dataset representing the name of the 
        dataset 
        Function returns json format data
        """
        api_url= self.api[dataset]
        response= requests.get(api_url)
        return response.json()
    
    def getCSVdata(self, csv_name):
        """
        Function is used to fetch the csv format data from User/ADMIN directory of the localhost
        Function requires one argument which is the csv_name (i.e: not the name of the file 
        but rather the name set in the config file)
        Function returns the csv format data
        """
        return pd.read_csv(self.csv_path[csv_name])

## CONSTRUCT DATABASE CLASS

We created a distinct class to handle every aspect of PostgreSQL. This is useful for future use as well whenever we need to play around with PostgreSQL database.

In [ ]:
import pandas as pd
import psycopg2
from psycopg2 import Error
import numpy as np

class PostgreSQL:
    """
    This class is used to handle everything relating to PostgreSQL database ranging from 
    creating table, inserting data, to reading data
    """
    
    def __init__(self, user, password, host, db_name, port):
        """
        Constructor creates the PostgreSQL object and connects to PostgreSQL database
        It requires parameters relating to the information of the database we would like 
        to connect to
        """
        
        self.user=user
        self.password=password
        self.host=host
        self.port=port
        self.db_name=db_name
        try:
            # Connect to the database of interest 
            self.conn= psycopg2.connect(user=self.user,
                                   password=self.password,
                                   host=self.host,
                                   port=self.port,
                                   database=self.db_name
                                   )
            
            # Call a cursor to work with database
            self.cursor= self.conn.cursor()
            
            print('PostgreSQL has been successfully connected')
        except (Exception, Error) as error:
            print('Failed to connect to PostgreSQL database ', error)
        
    def create_table_in_db(self, table_name,dict_col_types):
        """
        Function is used to create a new table in database
        Function requires 2 parameters:
        + table_name which is the name of the table we want to create
        + dict_col_types which is a dictionary whose keys are column names and values are
        the  data types they store
        """
        
        try:
            # Convert the column names and data types to separate lists
            list_keys= [i for i in dict_col_types.keys()]
            list_values= [i for i in dict_col_types.values()]
            
            # Prepare syntax that is understandable for PostgreSQL 
                
                # Drop table if the table having the same name exists before
            drop_query= 'DROP TABLE IF EXISTS '+table_name
                
                # Create table
            create_query= 'CREATE TABLE '+ table_name+'('
            for idx, key in enumerate(list_keys):
                threshold= len(list_keys)-1
                if idx != threshold:
                    create_query=create_query+key +'    '+ list_values[idx]+',\n'
                else:    
                    create_query=create_query+key +'    '+ list_values[idx]+');'
            
            # Execute the queries and save 
            self.cursor.execute(drop_query) 
            self.cursor.execute(create_query)
            self.conn.commit()
            
            print('Table created successfully in PostgreSQL')
        except(Exception, Error) as error:
            print('Error while connecting to PostgreSQL', error)
        
        
    def load_data_to_db(self,table_name, list_of_col_names, obs):
        """
        Function is used to load the data to database
        Function requires 3 parameters:
        + table_name is the name of the table that we would like to load the data to
        + list_of_col_names is the list of the name of columns of that table
        + obs accepts either dataframe of observations or the array of observations 
        """
        try:
            # Prepare syntax that is understandable to PostgreSQL database
            partial_query='INSERT INTO  '+table_name+'('
            
            threshold= len(list_of_col_names)-1
            for idx, j in enumerate(list_of_col_names):
                if idx!= threshold:
                    partial_query=partial_query+' '+j+','
                else:
                    full_query=partial_query+' '+j+') VALUES(' 
           
            for idx in np.arange(len(list_of_col_names)):
                if idx!= threshold:
                    full_query+='%s,'
                else:
                    full_query+='%s)'
            
            # Identify and convert each observation to list object 
            if isinstance(obs,pd.DataFrame):
                list_load= obs.values
            else:
                list_load= obs
            
            # Execute the queries and save
            self.cursor.executemany(full_query, list_load) 
            self.conn.commit()
            
            print('Rows inserted successfully')
        except(Exception, Error) as error:
            print('Error while connecting to PostgreSQL', error)
    
    def read_data_from_db(self,table_name, col_name='all'):
        """
            Function is used to read the data from database
            Function requires two parameters:
            + table_name is the name of the table that we would like to extract data
            + col_name is a list of column names of that table
            Function returns data from the table and columns of interest
        """
        try:
            if col_name=='all':
                read_query= '''SELECT * FROM '''+ table_name
            else:
                read_query= 'SELECT '
                for idx, i in enumerate(col_name):
                    threshold=len(col_name)-1 
                    if idx!= threshold:
                        read_query+=i+','
                    else:
                        read_query+=i+'    FROM '+table_name
            self.cursor.execute(read_query)
            rows= self.cursor.fetchall()
            for row in rows:
                print(row)
            print('Read successfully')
        except(Exception, Error) as error:
            print('Error while fetching data from the PostgreSQL database',error)
            
    
    def close_connection(self):
        """
        Function is used to close the connection to the database 
        """
        if self.conn:
            self.cursor.close()
            self.conn.close()
            print('PostgreSQL connection is closed')

## CONSTRUCT TRANSFORMATION AND LOAD CLASS

And this class is used to handle the data transformation as well the data insertion to database

In [19]:
from DataSources import Extract
from Databases import PostgreSQL
import pandas as pd
import numpy as np

class Transformation_Load:
    """
    This class handles the transfomation as well as loading the transformed data to the 
    PostgreSQL database
    """
    
    def __init__(self, dataSource, dataSet):
        """
        Constructor creates a Transformation_Load object (the data needed to be transformed 
        and the newly created connection to database are assigned to instance variables: 
        i.e: self.data, and self.psql)
        """
        # Create Extract object
        extractObj = Extract()
    
        # Fetch the data needed to be transformed
        if dataSource == 'api':
            self.data= extractObj.getAPIsdata(dataSet)
        elif dataSource == 'csv':
            self.data= extractObj.getCSVdata(dataSet)
        else:
            print('Unknown Data format! Please try again')
        
        # Create connection to the database of interest
        cred= extractObj.data_sources['data_sources']['PostgreSQL_cred']
        user= cred['user']
        password= cred['password']
        host= cred['host']
        db_name= cred['db_name']
        port= cred['port']
        self.psql = PostgreSQL( user, password, host, db_name, port)
        
        
    #Covid Deaths data generic structure
    def csv_CovidDeaths(self, table_name):
        """
        Function is used to do all transformation relating to CovidDeaths data(i.e: 
        Selecting rows that have non-null values in the continent column; Total number of 
        people tested positive for COVID by country
        Function requires 1 parameter which is table_name representing the name of the table we would like to insert data into
        """

        # Drop rows having no values in continent column
        deaths_no_nul_cont= self.data[self.data['continent'].notnull()]

        # Compute total cases by country
        full2=deaths_no_nul_cont.groupby(['continent','location'])['new_cases']\
                                .agg('sum')\
                                .reset_index()\
                                .rename({'new_cases':'total_cases'},axis=1)

        # Load the transformed data to the PostgreSQL database of interest
        dict_col_types_covid={'continent':'varchar(30)',
                              'location':'varchar(50)','total_cases':'bigint'}
        list_of_col_names_covid= [i for i in full2.columns]
        self.psql.create_table_in_db(table_name, dict_col_types_covid)
        self.psql.load_data_to_db(table_name, list_of_col_names_covid,full2)
        self.psql.close_connection()
        
        
        
    #Air Pollution data generic structure
    def api_Pollution(self,  table_name):
        """
        Function is used to do all transformation relating to pollution data(i.e: 
        Selecting only relevant columns to our interest)
        Function requires 1 parameter which is table_name representing the name of the table we would like to insert data into
        """
        # Extract only the relevant columns
        air_list=[]
        for idx, ele in  enumerate (self.data['results']):
            for mea in ele['measurements']:
                air_dict={}
                air_dict['city']=ele['city']
                air_dict['coordinates']=ele['coordinates']
                air_dict['country']=ele['country']
                air_dict['parameter']=mea['parameter']
                air_dict['value']=mea['value']
                air_dict['unit']=mea['unit']
            air_list.append(air_dict)

        coor_nested = pd.DataFrame(air_list)
        full=pd.concat((coor_nested,coor_nested['coordinates'].apply(pd.Series)),axis=1)\
               .drop('coordinates',axis=1)

        # Load the transformed data to the PostgreSQL database of interest
        dict_col_types= {'city': 'varchar(50)', 'country': 'text',
                         'parameter': 'text', 'value': 'real', 'unit':'text', 
                         'latitude':'real','longitude':'real'}
        list_of_col_names= [i for i in full.columns]
        self.psql.create_table_in_db( table_name,dict_col_types)
        self.psql.load_data_to_db( table_name,list_of_col_names,full)
        self.psql.close_connection()

## HOW EVERYTHING WORKS TOGETHER

In [21]:
# Import modules 
from DataSources import Extract
from Databases import PostgreSQL
from DataTransformationLoad import Transformation_Load

__Let's firstly fetch the data and have a brief look at its original structure__

In [23]:
# Create Extract object
ex= Extract()
# Fetch pollution data using API
ex.getAPIsdata('Pollution')

{'meta': {'name': 'openaq-api',
  'license': 'CC BY 4.0d',
  'website': 'https://u50g7n0cbj.execute-api.us-east-1.amazonaws.com/',
  'page': 1,
  'limit': 500,
  'found': 56},
 'results': [{'location': 'FI00606',
   'city': 'South Karelia',
   'country': 'FI',
   'coordinates': {'latitude': 61.0557599995458, 'longitude': 28.18431},
   'measurements': [{'parameter': 'pm25',
     'value': 3,
     'lastUpdated': '2016-12-21T10:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm10',
     'value': 3.4624311,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'no2',
     'value': 6.6023043,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00404',
   'city': 'Central Ostrobothnia',
   'country': 'FI',
   'coordinates': {'latitude': 63.8376399995756, 'longitude': 23.1316},
   'measurements': [{'parameter': 'no2',
     'value': 17.7773603,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm10',
     'value': 28.5639543,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00781',
   'city': 'Uusimaa',
   'country': 'FI',
   'coordinates': {'latitude': 60.2239299995377, 'longitude': 25.10244},
   'measurements': [{'parameter': 'no2',
     'value': 14.35118,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'o3',
     'value': 65.84174,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm25',
     'value': 2.431679,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00349',
   'city': 'Southwest Finland',
   'country': 'FI',
   'coordinates': {'latitude': 59.7792299995335, 'longitude': 21.37395},
   'measurements': [{'parameter': 'pm25',
     'value': 2.44321907,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'o3',
     'value': 80.233483,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'no2',
     'value': 2.6281003,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'so2',
     'value': 0.5203691,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00080',
   'city': 'South Karelia',
   'country': 'FI',
   'coordinates': {'latitude': 61.2380699995476, 'longitude': 28.87369},
   'measurements': [{'parameter': 'so2',
     'value': 1.1943234,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm10',
     'value': 3.8540167,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'no2',
     'value': 5.0038889,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00301',
   'city': 'Northern Ostrobothnia',
   'country': 'FI',
   'coordinates': {'latitude': 65.0433799995895, 'longitude': 25.4979},
   'measurements': [{'parameter': 'no2',
     'value': 36.847281,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'o3',
     'value': 46.0729427,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm10',
     'value': 7.3681859,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00424',
   'city': 'South Karelia',
   'country': 'FI',
   'coordinates': {'latitude': 61.1889199995471, 'longitude': 28.77012},
   'measurements': [{'parameter': 'pm10',
     'value': 5.5241054,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'no2',
     'value': 3.3208018,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00841',
   'city': 'Uusimaa',
   'country': 'FI',
   'coordinates': {'latitude': 60.2202399995376, 'longitude': 24.81133},
   'measurements': [{'parameter': 'pm25',
     'value': 1.081012,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'no2',
     'value': 20.07911,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm10',
     'value': 2.164784,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00273',
   'city': 'South Karelia',
   'country': 'FI',
   'coordinates': {'latitude': 61.1283799995465, 'longitude': 28.83776},
   'measurements': [{'parameter': 'no2',
     'value': 1.9884914,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00283',
   'city': 'South Karelia',
   'country': 'FI',
   'coordinates': {'latitude': 61.0408199995456, 'longitude': 28.1765},
   'measurements': [{'parameter': 'pm10',
     'value': 4.2336399,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'no2',
     'value': 25.9455317,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00434',
   'city': 'South Karelia',
   'country': 'FI',
   'coordinates': {'latitude': 61.1170899995464, 'longitude': 28.49849},
   'measurements': [{'parameter': 'pm10',
     'value': 2.125768,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00378',
   'city': 'South Karelia',
   'country': 'FI',
   'coordinates': {'latitude': 61.0719399995459, 'longitude': 28.26409},
   'measurements': [{'parameter': 'pm10',
     'value': 3.9391955,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00433',
   'city': 'South Karelia',
   'country': 'FI',
   'coordinates': {'latitude': 61.1530399995467, 'longitude': 28.81014},
   'measurements': [{'parameter': 'pm10',
     'value': 3.5068201,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00397',
   'city': 'Ostrobothnia',
   'country': 'FI',
   'coordinates': {'latitude': 63.6791199995738, 'longitude': 22.71837},
   'measurements': [{'parameter': 'no2',
     'value': 20.7622732,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm10',
     'value': 4.9626439,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00280',
   'city': 'South Karelia',
   'country': 'FI',
   'coordinates': {'latitude': 61.0574799995458, 'longitude': 28.24585},
   'measurements': [{'parameter': 'pm25',
     'value': 2.7651865,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00339',
   'city': 'Uusimaa',
   'country': 'FI',
   'coordinates': {'latitude': 60.3600499995389, 'longitude': 25.56605},
   'measurements': [{'parameter': 'so2',
     'value': 0.2231138,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00801',
   'city': 'Pirkanmaa',
   'country': 'FI',
   'coordinates': {'latitude': 61.4990999995502, 'longitude': 23.80221},
   'measurements': [{'parameter': 'no2',
     'value': 14.036396,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm25',
     'value': 0.9470237,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00549',
   'city': 'Pirkanmaa',
   'country': 'FI',
   'coordinates': {'latitude': 61.4987299995502, 'longitude': 23.73569},
   'measurements': [{'parameter': 'pm10',
     'value': 6.2639917,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'no2',
     'value': 12.2432672,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00893',
   'city': 'Kymenlaakso',
   'country': 'FI',
   'coordinates': {'latitude': 60.5300199995406, 'longitude': 27.6754},
   'measurements': [{'parameter': 'so2',
     'value': 0.7069676,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm10',
     'value': 0.8442111,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm25',
     'value': 0.6402931,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'no2',
     'value': 1.4407299,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'o3',
     'value': 78.3486203,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00179',
   'city': 'Satakunta',
   'country': 'FI',
   'coordinates': {'latitude': 61.3316899995485, 'longitude': 22.1433},
   'measurements': [{'parameter': 'pm10',
     'value': 3.3895267,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'so2',
     'value': 1.5972186,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00370',
   'city': 'Uusimaa',
   'country': 'FI',
   'coordinates': {'latitude': 60.2899499995383, 'longitude': 25.03953},
   'measurements': [{'parameter': 'pm10',
     'value': 2.86869,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'no2',
     'value': 17.67717,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm25',
     'value': 3.51186,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00465',
   'city': 'Ostrobothnia',
   'country': 'FI',
   'coordinates': {'latitude': 63.0951499995672, 'longitude': 21.61832},
   'measurements': [{'parameter': 'no2',
     'value': 18.1963027,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm10',
     'value': 3.4992611,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00586',
   'city': 'Ostrobothnia',
   'country': 'FI',
   'coordinates': {'latitude': 63.1012099995673, 'longitude': 21.60407},
   'measurements': [{'parameter': 'pm10',
     'value': 1.6172073,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm25',
     'value': 1.120344,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'o3',
     'value': 0,
     'lastUpdated': '2019-12-24T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00839',
   'city': 'Northern Savonia',
   'country': 'FI',
   'coordinates': {'latitude': 62.8820499995649, 'longitude': 27.66197},
   'measurements': [{'parameter': 'no2',
     'value': 9.4062862,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm10',
     'value': 9.0088515,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00558',
   'city': 'Northern Savonia',
   'country': 'FI',
   'coordinates': {'latitude': 62.893499999565, 'longitude': 27.6883},
   'measurements': [{'parameter': 'no2',
     'value': 5.4286989,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm10',
     'value': 3.3563187,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00066',
   'city': 'Paijanne Tavastia',
   'country': 'FI',
   'coordinates': {'latitude': 60.9878099995451, 'longitude': 25.64954},
   'measurements': [{'parameter': 'no2',
     'value': 3.1330947,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00455',
   'city': 'Paijanne Tavastia',
   'country': 'FI',
   'coordinates': {'latitude': 60.9670399995449, 'longitude': 25.65489},
   'measurements': [{'parameter': 'no2',
     'value': 8.5497465,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm10',
     'value': 3.043518,
     'lastUpdated': '2022-03-01T01:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00564',
   'city': 'Uusimaa',
   'country': 'FI',
   'coordinates': {'latitude': 60.1696399995371, 'longitude': 24.93924},
   'measurements': [{'parameter': 'pm25',
     'value': 4.086931,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'no2',
     'value': 28.60084,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm10',
     'value': 24.16571,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00838',
   'city': 'Pirkanmaa',
   'country': 'FI',
   'coordinates': {'latitude': 61.5085399995503, 'longitude': 23.67583},
   'measurements': [{'parameter': 'pm25',
     'value': 2.9256771,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm10',
     'value': 15.3677604,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00357',
   'city': 'Lapland',
   'country': 'FI',
   'coordinates': {'latitude': 68.477009999634, 'longitude': 28.3031},
   'measurements': [{'parameter': 'o3',
     'value': 82.8178292,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'so2',
     'value': 0.5675106,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}}]},
  {'location': 'FI00425',
   'city': 'Uusimaa',
   'country': 'FI',
   'coordinates': {'latitude': 60.1873899995373, 'longitude': 24.9506},
   'measurements': [{'parameter': 'pm10',
     'value': 5.717454,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'so2',
     'value': 0.5493488,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'pm25',
     'value': 3.064211,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',
     'averagingPeriod': {'value': 3600, 'unit': 'seconds'}},
    {'parameter': 'o3',
     'value': 61.66806,
     'lastUpdated': '2022-03-03T17:00:00Z',
     'unit': 'µg/m³',
     'sourceName': 'EEA Finland',

It worked. We could tell that the data has json format

In [25]:
# Fetch covid data from local computer
ex.getCSVdata('CovidDeaths')

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,24/02/2020,39835428.0,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,25/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,26/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,27/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,28/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150624,ZWE,Africa,Zimbabwe,24/12/2021,15092171.0,202736.0,1392.0,1881.286,4871.0,16.0,...,0.871,0.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150625,ZWE,Africa,Zimbabwe,25/12/2021,15092171.0,203746.0,1010.0,2025.571,4885.0,14.0,...,1.003,0.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150626,ZWE,Africa,Zimbabwe,26/12/2021,15092171.0,204351.0,605.0,1811.143,4891.0,6.0,...,1.032,0.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150627,ZWE,Africa,Zimbabwe,27/12/2021,15092171.0,205449.0,1098.0,1481.429,4908.0,17.0,...,0.975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150628,ZWE,Africa,Zimbabwe,28/12/2021,15092171.0,207548.0,2099.0,1397.143,4940.0,32.0,...,1.145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It worked as well. The initial structure of this dataframe is around 150000 rows and 26 columns

__Secondly, let's try to apply transformation and load the data to the database by calling on class Transfomration_Load__

In [116]:
# Keep track of how many files having the same format as well as use this number as the suffixes to distinguish among files having the same format
countAPI=0
countCSV=0

# loop through all file defined in data_config file
for (sources, names) in json.load(open('data_config.json'))['data_sources'].items():
    if sources!='PostgreSQL_cred':
        name_used= [i for i in names][0]
        tl=Transformation_Load(sources,name_used)
        
        if sources=='api':
            tl.api_Pollution(name_used+str(countAPI))
            countAPI+=1
        
        elif sources=='csv':
            tl.csv_CovidDeaths(name_used+str(countCSV))
            countCSV+=1

PostgreSQL has been successfully connected
Table created successfully in PostgreSQL
Rows inserted successfully
PostgreSQL connection is closed
PostgreSQL has been successfully connected
Table created successfully in PostgreSQL
Rows inserted successfully
PostgreSQL connection is closed

__Last but not least, let's run a check to see if the data has been transformed and inserted into the database__

In [74]:
# Let's use the information in the config file about our database to connect to it
user='postgres'
password='*************' 
host='localhost'
port='5432'
db_name='PortfolioProject'

In [117]:
psql= PostgreSQL(user=user, password=password,host=host,port=port,db_name=db_name)

PostgreSQL has been successfully connected

In [118]:
# Let's see if data  have been inserted into database or not
for (sources, names) in json.load(open('data_config.json'))['data_sources'].items():
    if sources!='PostgreSQL_cred':
        name_used= [i for i in names][0]
        if sources=='api':
            for idx in np.arange(0,countAPI):
                psql.read_data_from_db(name_used+str(idx))
                print('End of files fetched by API')
        elif sources=='csv':
            for idx in np.arange(0,countCSV):
                psql.read_data_from_db(name_used+str(idx))
                print('END of CSV files')
psql.close_connection()

('Africa', 'Algeria', 217265)
('Africa', 'Angola', 76787)
('Africa', 'Benin', 24935)
('Africa', 'Botswana', 212482)
('Africa', 'Burkina Faso', 17632)
('Africa', 'Burundi', 26999)
('Africa', 'Cameroon', 109367)
('Africa', 'Cape Verde', 39345)
('Africa', 'Central African Republic', 12163)
('Africa', 'Chad', 5703)
('Africa', 'Comoros', 5867)
('Africa', 'Congo', 20089)
('Africa', "Cote d'Ivoire", 65066)
('Africa', 'Democratic Republic of Congo', 72349)
('Africa', 'Djibouti', 13603)
('Africa', 'Egypt', 383003)
('Africa', 'Equatorial Guinea', 13637)
('Africa', 'Eritrea', 7931)
('Africa', 'Eswatini', 64873)
('Africa', 'Ethiopia', 405745)
('Africa', 'Gabon', 39910)
('Africa', 'Gambia', 10136)
('Africa', 'Ghana', 140221)
('Africa', 'Guinea', 31238)
('Africa', 'Guinea-Bissau', 6474)
('Africa', 'Kenya', 285654)
('Africa', 'Lesotho', 28126)
('Africa', 'Liberia', 6228)
('Africa', 'Libya', 386878)
('Africa', 'Madagascar', 49590)
('Africa', 'Malawi', 72135)
('Africa', 'Mali', 20287)
('Africa', 'Mauritania', 40737)
('Africa', 'Mauritius', 23208)
('Africa', 'Morocco', 957594)
('Africa', 'Mozambique', 175648)
('Africa', 'Namibia', 146459)
('Africa', 'Niger', 7307)
('Africa', 'Nigeria', 239019)
('Africa', 'Rwanda', 106987)
('Africa', 'Saint Helena', 4)
('Africa', 'Sao Tome and Principe', 3790)
('Africa', 'Senegal', 74516)
('Africa', 'Seychelles', 24451)
('Africa', 'Sierra Leone', 6819)
('Africa', 'Somalia', 23532)
('Africa', 'South Africa', 3405948)
('Africa', 'South Sudan', 14860)
('Africa', 'Sudan', 46292)
('Africa', 'Tanzania', 26483)
('Africa', 'Togo', 28925)
('Africa', 'Tunisia', 724092)
('Africa', 'Uganda', 136065)
('Africa', 'Zambia', 238383)
('Africa', 'Zimbabwe', 207548)
('Asia', 'Afghanistan', 157998)
('Asia', 'Armenia', 344649)
('Asia', 'Azerbaijan', 615312)
('Asia', 'Bahrain', 280482)
('Asia', 'Bangladesh', 1584023)
('Asia', 'Bhutan', 2660)
('Asia', 'Brunei', 15461)
('Asia', 'Cambodia', 120469)
('Asia', 'China', 101136)
('Asia', 'Georgia', 928030)
('Asia', 'Hong Kong', 12604)
('Asia', 'India', 34808886)
('Asia', 'Indonesia', 4262157)
('Asia', 'Iran', 6188857)
('Asia', 'Iraq', 2092875)
('Asia', 'Israel', 1371000)
('Asia', 'Japan', 1731046)
('Asia', 'Jordan', 1047953)
('Asia', 'Kazakhstan', 1071035)
('Asia', 'Kuwait', 415678)
('Asia', 'Kyrgyzstan', 184552)
('Asia', 'Laos', 107740)
('Asia', 'Lebanon', 715950)
('Asia', 'Macao', 77)
('Asia', 'Malaysia', 2746833)
('Asia', 'Maldives', 95222)
('Asia', 'Mongolia', 388755)
('Asia', 'Myanmar', 530000)
('Asia', 'Nepal', 827763)
('Asia', 'Northern Cyprus', 0)
('Asia', 'Oman', 305253)
('Asia', 'Pakistan', 1294379)
('Asia', 'Palestine', 469452)
('Asia', 'Philippines', 2839111)
('Asia', 'Qatar', 248802)
('Asia', 'Saudi Arabia', 553921)
('Asia', 'Singapore', 278409)
('Asia', 'South Korea', 620937)
('Asia', 'Sri Lanka', 584586)
('Asia', 'Syria', 50167)
('Asia', 'Taiwan', 16949)
('Asia', 'Tajikistan', 17493)
('Asia', 'Thailand', 2214708)
('Asia', 'Timor', 19833)
('Asia', 'Turkey', 8544144)
('Asia', 'Turkmenistan', 0)
('Asia', 'United Arab Emirates', 754911)
('Asia', 'Uzbekistan', 198487)
('Asia', 'Vietnam', 1680985)
('Asia', 'Yemen', 10123)
('Europe', 'Albania', 208352)
('Europe', 'Andorra', 22540)
('Europe', 'Austria', 1268519)
('Europe', 'Belarus', 694727)
('Europe', 'Belgium', 2062836)
('Europe', 'Bosnia and Herzegovina', 288876)
('Europe', 'Bulgaria', 737233)
('Europe', 'Croatia', 697952)
('Europe', 'Cyprus', 154926)
('Europe', 'Czechia', 2454645)
('Europe', 'Denmark', 739071)
('Europe', 'Estonia', 238079)
('Europe', 'Faeroe Islands', 5261)
('Europe', 'Finland', 236755)
('Europe', 'France', 9765637)
('Europe', 'Germany', 7059396)
('Europe', 'Gibraltar', 8297)
('Europe', 'Greece', 1105885)
('Europe', 'Guernsey', 0)
('Europe', 'Hungary', 1246689)
('Europe', 'Iceland', 25314)
('Europe', 'Ireland', 731467)
('Europe', 'Isle of Man', 13487)
('Europe', 'Italy', 5756412)
('Europe', 'Jersey', 0)
('Europe', 'Kosovo', 161356)
('Europe', 'Latvia', 272952)
('Europe', 'Liechtenstein', 6059)
('Europe', 'Lithuania', 513830)
('Europe', 'Luxembourg', 100203)
('Europe', 'Malta', 48380)
('Europe', 'Moldova', 375065)
('Europe', 'Monaco', 4889)
('Europe', 'Montenegro', 165074)
('Europe', 'Netherlands', 3090500)
('Europe', 'North Macedonia', 223739)
('Europe', 'Norway', 382789)
('Europe', 'Poland', 4064715)
('Europe', 'Portugal', 1303291)
('Europe', 'Romania', 1804455)
('Europe', 'Russia', 10258052)
('Europe', 'San Marino', 7657)
('Europe', 'Serbia', 1293394)
('Europe', 'Slovakia', 1357165)
('Europe', 'Slovenia', 458568)
('Europe', 'Spain', 6032297)
('Europe', 'Sweden', 1294560)
('Europe', 'Switzerland', 1276956)
('Europe', 'Ukraine', 3828336)
('Europe', 'United Kingdom', 12362303)
('Europe', 'Vatican', 27)
('North America', 'Anguilla', 1674)
('North America', 'Antigua and Barbuda', 4259)
('North America', 'Aruba', 18350)
('North America', 'Bahamas', 23539)
('North America', 'Barbados', 27836)
('North America', 'Belize', 31734)
('North America', 'Bermuda', 6064)
('North America', 'Bonaire Sint Eustatius and Saba', 3304)
('North America', 'British Virgin Islands', 3071)
('North America', 'Canada', 2031576)
('North America', 'Cayman Islands', 8386)
('North America', 'Costa Rica', 570556)
('North America', 'Cuba', 965002)
('North America', 'Curacao', 19645)
('North America', 'Dominica', 6559)
('North America', 'Dominican Republic', 415359)
('North America', 'El Salvador', 121741)
('North America', 'Greenland', 2437)
('North America', 'Grenada', 5968)
('North America', 'Guatemala', 625854)
('North America', 'Haiti', 25976)
('North America', 'Honduras', 379402)
('North America', 'Jamaica', 92950)
('North America', 'Mexico', 3951946)
('North America', 'Montserrat', 45)
('North America', 'Nicaragua', 17487)
('North America', 'Panama', 489695)
('North America', 'Saint Kitts and Nevis', 2877)
('North America', 'Saint Lucia', 13357)
('North America', 'Saint Pierre and Miquelon', 98)
('North America', 'Saint Vincent and the Grenadines', 5843)
('North America', 'Sint Maarten (Dutch part)', 0)
('North America', 'Trinidad and Tobago', 90364)
('North America', 'Turks and Caicos Islands', 3283)
('North America', 'United States', 53170420)
('Oceania', 'Australia', 339953)
('Oceania', 'Cook Islands', 2)
('Oceania', 'Fiji', 53023)
('Oceania', 'French Polynesia', 46382)
('Oceania', 'Kiribati', 2)
('Oceania', 'Marshall Islands', 4)
('Oceania', 'Micronesia (country)', 1)
('Oceania', 'Nauru', 0)
('Oceania', 'New Caledonia', 12717)
('Oceania', 'New Zealand', 13986)
('Oceania', 'Niue', 0)
('Oceania', 'Palau', 8)
('Oceania', 'Papua New Guinea', 36130)
('Oceania', 'Pitcairn', 0)
('Oceania', 'Samoa', 3)
('Oceania', 'Solomon Islands', 22)
('Oceania', 'Tokelau', 0)
('Oceania', 'Tonga', 1)
('Oceania', 'Tuvalu', 0)
('Oceania', 'Vanuatu', 7)
('Oceania', 'Wallis and Futuna', 454)
('South America', 'Argentina', 5514207)
('South America', 'Bolivia', 580690)
('South America', 'Brazil', 22134392)
('South America', 'Chile', 1801795)
('South America', 'Colombia', 5132277)
('South America', 'Ecuador', 542960)
('South America', 'Falkland Islands', 83)
('South America', 'Guyana', 39151)
('South America', 'Paraguay', 465564)
('South America', 'Peru', 2279299)
('South America', 'Suriname', 51791)
('South America', 'Uruguay', 408894)
('South America', 'Venezuela', 443983)
Read successfully
END of CSV files
('South Karelia', 'FI', 'pm10', 3.04962, 'µg/m³', 61.05576, 28.18431)
('Central Ostrobothnia', 'FI', 'no2', 33.73761, 'µg/m³', 63.83764, 23.1316)
('Uusimaa', 'FI', 'no2', 12.84382, 'µg/m³', 60.22393, 25.10244)
('Southwest Finland', 'FI', 'no2', 1.3260742, 'µg/m³', 59.77923, 21.37395)
('South Karelia', 'FI', 'pm10', 5.581386, 'µg/m³', 61.23807, 28.87369)
('Northern Ostrobothnia', 'FI', 'pm10', 7.3259373, 'µg/m³', 65.04338, 25.4979)
('South Karelia', 'FI', 'no2', 1.3728292, 'µg/m³', 61.18892, 28.77012)
('Uusimaa', 'FI', 'no2', 21.15967, 'µg/m³', 60.22024, 24.81133)
('South Karelia', 'FI', 'no2', 1.9269977, 'µg/m³', 61.12838, 28.83776)
('South Karelia', 'FI', 'pm10', 2.4403555, 'µg/m³', 61.04082, 28.1765)
('South Karelia', 'FI', 'pm10', 1.7837251, 'µg/m³', 61.11709, 28.49849)
('South Karelia', 'FI', 'pm10', 3.7627645, 'µg/m³', 61.07194, 28.26409)
('South Karelia', 'FI', 'pm10', 3.5286105, 'µg/m³', 61.15304, 28.81014)
('Ostrobothnia', 'FI', 'no2', 24.462555, 'µg/m³', 63.67912, 22.71837)
('South Karelia', 'FI', 'pm25', 4.2817698, 'µg/m³', 61.05748, 28.24585)
('Uusimaa', 'FI', 'so2', 0.2614341, 'µg/m³', 60.36005, 25.56605)
('Pirkanmaa', 'FI', 'pm25', 0.9326067, 'µg/m³', 61.4991, 23.80221)
('Pirkanmaa', 'FI', 'pm10', 8.643209, 'µg/m³', 61.49873, 23.73569)
('Kymenlaakso', 'FI', 'no2', 1.4229621, 'µg/m³', 60.53002, 27.6754)
('Satakunta', 'FI', 'pm10', 3.4752688, 'µg/m³', 61.33169, 22.1433)
('Uusimaa', 'FI', 'no2', 15.18435, 'µg/m³', 60.28995, 25.03953)
('Ostrobothnia', 'FI', 'pm10', 2.7430768, 'µg/m³', 63.09515, 21.61832)
('Ostrobothnia', 'FI', 'o3', 0.0, 'µg/m³', 63.10121, 21.60407)
('Northern Savonia', 'FI', 'pm10', 11.030761, 'µg/m³', 62.88205, 27.66197)
('Northern Savonia', 'FI', 'pm10', 3.781219, 'µg/m³', 62.8935, 27.6883)
('Paijanne Tavastia', 'FI', 'no2', 3.5668612, 'µg/m³', 60.98781, 25.64954)
('Paijanne Tavastia', 'FI', 'no2', 7.313606, 'µg/m³', 60.96704, 25.65489)
('Uusimaa', 'FI', 'pm25', 4.349249, 'µg/m³', 60.16964, 24.93924)
('Pirkanmaa', 'FI', 'pm25', 3.5622709, 'µg/m³', 61.50854, 23.67583)
('Lapland', 'FI', 'o3', 82.53027, 'µg/m³', 68.47701, 28.3031)
('Uusimaa', 'FI', 'pm25', 3.267217, 'µg/m³', 60.18739, 24.9506)
('Uusimaa', 'FI', 'no2', 1.402333, 'µg/m³', 60.313595, 24.689476)
('Satakunta', 'FI', 'pm10', 6.4342623, 'µg/m³', 61.31495, 22.13671)
('North Karelen', 'FI', 'o3', 80.66813, 'µg/m³', 63.1431, 31.04695)
('Northern Ostrobothnia', 'FI', 'pm10', 4.9763465, 'µg/m³', 64.68337, 24.48162)
('Northern Ostrobothnia', 'FI', 'so2', 1.0321105, 'µg/m³', 66.3217, 29.40157)
('Paijanne Tavastia', 'FI', 'o3', 75.37826, 'µg/m³', 60.97907, 25.59109)
('Northern Ostrobothnia', 'FI', 'no2', 20.497358, 'µg/m³', 65.00997, 25.47132)
('Southwest Finland', 'FI', 'o3', 59.397446, 'µg/m³', 60.42532, 22.09611)
('Lapland', 'FI', 'pm10', 1.4271724, 'µg/m³', 67.96735, 24.112219)
('Pirkanmaa', 'FI', 'o3', 79.750244, 'µg/m³', 61.86111, 24.28333)
('Paijanne Tavastia', 'FI', 'pm10', 2.0603473, 'µg/m³', 60.99129, 25.66579)
('Uusimaa', 'FI', 'no2', 19.06829, 'µg/m³', 60.19644, 24.95198)
('Northern Ostrobothnia', 'FI', 'so2', 0.8739649, 'µg/m³', 64.66779, 24.41921)
('Central Finland', 'FI', 'no2', 15.3650875, 'µg/m³', 62.28999, 25.70917)
('Northern Ostrobothnia', 'FI', 'so2', 1.0443199, 'µg/m³', 64.99473, 25.47926)
('Kymenlaakso', 'FI', 'pm10', 6.373209, 'µg/m³', 60.51316, 26.94621)
('Uusimaa', 'FI', 'pm25', 3.196193, 'µg/m³', 60.25145, 24.06287)
('Paijanne Tavastia', 'FI', 'no2', 48.4, 'µg/m³', 60.98389, 25.66218)
('Kainuu', 'FI', 'pm10', 6.3841357, 'µg/m³', 64.22444, 27.73333)
('Northern Savonia', 'FI', 'o3', 30.2, 'µg/m³', 62.8936, 27.66952)
('Southwest Finland', 'FI', 'pm10', 2.0, 'µg/m³', 60.45195, 22.26768)
('Central Finland', 'FI', 'no2', 14.5, 'µg/m³', 62.24305, 25.74321)
('Uusimaa', 'FI', 'no2', 2.368324, 'µg/m³', 60.31439, 24.68486)
('Lapland', 'FI', 'no2', 0.3936338, 'µg/m³', 67.96715, 24.11233)
('Ilmatieteen laitoksen verkko', 'FI', 'no2', 0.7986081, 'µg/m³', 62.58855, 24.19189)
Read successfully
End of files fetched by API
PostgreSQL connection is closed

Data of all formats have successfully been trasnformed and inserted to database(e.g: Original Covid Data has around 150000 rows and 26 columns. After being transformed, there are only 3 columns: continent, location, total number of people tested positive for COVID. Each row represents each country)